.close-icon {
  background: url('/images/icon/close_btn.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.car-insurance-icon {
  background: url('/images/icon/car_insurance.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 70px;
	height: 30px;
}

.clock-icon {
  background: url('/images/icon/clock_icon.png');
  width: 11px;
  height: 11px;
  background-size: contain;
  margin-right: 10px;
}

.motercycle-insurance-icon {
  background: url('/images/icon/motercycle_insurance.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 42px;
	height: 30px;
}

.insurance-online-icon {
  background: url('/images/icon/insurance_online.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 95px;
	height: 95px;
}

.insurance-cheaper-icon {
  background: url('/images/icon/insurance_cheaper.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 95px;
	height: 95px;
}

.standard-verify-icon {
  background: url('/images/icon/standard_verify.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 95px;
	height: 95px;
}

.coverage-production-icon {
  background: url('/images/icon/coverage_production.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 95px;
	height: 95px;
}

.sound-icon {
  background: url('/images/icon/sound_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 58px;
	height: 58px;
}

.note-icon {
  background: url('/images/icon/note_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 58px;
	height: 58px;
}

.filter-icon {
  background: url('/images/icon/filter_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

.ribbin_icon {
  background: url('/images/icon/ribbin.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 37px;
}

.correct_icon {
  background: url('/images/icon/correct_icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
}

.state_customer_icon {
  background: url('/images/icon/state_customer.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_customer_success_icon {
  background: url('/images/icon/state_customer_success.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_customer_active_icon {
  background: url('/images/icon/state_customer_active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}


.state_car_icon {
  background: url('/images/icon/state_car.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_car_success_icon {
  background: url('/images/icon/state_car_success.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_car_active_icon {
  background: url('/images/icon/state_car_active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_billing_icon {
  background: url('/images/icon/state_billing.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_billing_success_icon {
  background: url('/images/icon/state_billing_success.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.state_billing_active_icon {
  background: url('/images/icon/state_billing_active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.calendar-icon {
  background: url('/images/icon/calendar_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.avatar-icon {
  background: url('/images/icon/user_avatar.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.avatar-setting-icon {
  background: url('/images/icon/avatar_setting.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
}

.payment-card-icon {
  background: url('/images/icon/payment_card_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 35px;
}


.twiiter-icon {
  background: url('/images/icon/twitter_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.line-icon {
  background: url('/images/icon/line_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.fb-icon {
  background: url('/images/icon/fb_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.fb-white-icon {
  background: url('/images/icon/fb_white_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.line-white-icon {
  background: url('/images/icon/line_white_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}


.address-icon {
  background: url('/images/icon/address_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: center;
}

.tel-icon {
  background: url('/images/icon/tel_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  background-position: center;
}

.email-icon {
  background: url('/images/icon/email_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  background-position: center;
}