//height
$header-height-lg: 82px;
$height-banner-slider: 300px;

//color
$main-color: #FD7310;
$ribbon-color: #F9CA35;
$grey-color: #FAFAFA;

//media screen
$brakepoint-el: 1200.98px;
$brakepoint-ipad-pro: 1024.98px;
$brakepoint-lg: 991.98px;
$brakepoint-ipad: 768.98px;
$brakepoint-sm: 767.98px;
$brakepoint-sm-s: 575.98px;
$brakepoint-sm-xs: 414.98px;
$brakepoint-iphone: 375.98px;

//customize