.category-page {
  background: $main-bg;
  padding-top: 90px;
  .content {
    padding: 10px 95px;
  }
  .list-slider {
    margin-bottom: 20px;
    h1 {
      font-size: 1.3rem;
      padding-left: 20px;
    }
  }
  
}