.filter-box {
  padding: 0px 10px;
  .category-type-box {
    ul {
      li.head span {
        &:before {
          content: '\f0da';
          margin-right: 10px;
        }
      }
    }
    ul.sub {
      padding-inline-start: 20px;
      margin-top: 10px;
      li {
        cursor: pointer;
        padding: 7px 0px;
        font-size: 0.8rem;
        &:hover {
          background-color: rgba(15, 15, 15, 0.99);;
        }
        span {
          float: right;
        }
      }
    }
  }
}